@use '../utils/' as u;

*, 
*::before, 
*::after {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;

}


h1, 
h2, 
h3{
    margin: 0;
    font-weight: 800;
    line-height: 1.2;
} 

img{

    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}