@use '../utils/' as u;

*, 
*::before, 
*::after {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;
 


}
 main {
    overflow: clip;
 }

h1, 
h2, 
h3{
    margin: 0;
    font-weight: 800;
    line-height: 1.2;
} 

img{

    display: block;
    max-width: 100%;
    height: auto;
}
 img.logo:hover {
    opacity: 0.75;
 }

 img.logo{
    transition: opacity 150ms ease-in-out;
 }
a{
    text-decoration: none;
}

p {
    max-width: 35ch;
    color: var(--grey-100);
    line-height: 1.5;
}