:root{ 
    --blue-900: hsl(233, 54%, 16%);
    --blue-600: hsl(234, 25%, 52%);
    --pink-600: hsl(341, 92%, 62%);
    --pink-300: hsl(341, 100%, 83%);
    --grey-100: hsl(232, 10%, 56%);
    --white-100: hsl(0, 0%, 100%);
    --gradient-pink: linear-gradient(hsl(322, 87%, 55%), hsl(13, 100%, 64%);)
    --gradient-purple: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%);)

}
